<% content_for :title, "New review" %>

<h1>New review</h1>

<%= render "form", restaurant: @restaurant, review: @review%>

<br>

<div>
  <%= link_to "Back to Restaurant Page", restaurant_path(@restaurant) %>
</div>
